@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}


.logo, .cps-logo {
        max-height: 80px; /* Ajusta a altura máxima dos logos */
    }

    .cps-logo {
        margin-left: auto;
        margin-right: 20px;
    }
    .form-title {
        text-align: center;
        color: #333;
    }

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto; /* Centraliza o container horizontalmente */
}

    h1 {
        margin-bottom: 20px;
        color: #333;
    }

    .teacher-list {
        list-style-type: none;
        padding: 0;
    }

    .teacher {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }

    .teacher-info {
        flex-grow: 1;
        text-align: left;
    }

    .teacher-info h2 {
        margin: 0;
    }

    .status {
        padding: 5px 10px;
        border-radius: 4px;
        font-weight: bold;
        text-align: center;
    }
    .status.pending {
    background-color: #17a2b8; /* Azul turquesa para "Aguardando resposta" */
    color: white; /* Cor do texto */
}

    .status.waiting {
        background-color: #ffc107; /* Amarelo para "Aguardando" */
        color: #333; /* Cor do texto */
    }

    .status.deferido {
        background-color: #28a745; /* Verde para "Deferido" */
        color: white; /* Cor do texto */
    }

    .logo, .cps-logo {
        max-height: 80px; /* Ajusta a altura máxima dos logos */
    }

    .cps-logo {
        margin-left: auto;
        margin-right: 20px;
    }
    .details-btn {
    background-color: #007bff; /* Cor de fundo azul */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.details-btn:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

.reason {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #555;
    color: #fff;
}
.footer {
    background-color: #f0f0f0;
    padding: 30px 0;
    color: #333;
    font-size: 14px;
    text-align: center;
    position: relative;
    margin-top: 20px; /* Distância do footer ao botão enviar */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 300px; /* Cresce, encolhe, base */
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
    color: #333; /* Cor do link padrão */
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #007bff; /* Cor do link no hover */
}

.footer-bottom {
    background-color: #ddd;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 12px;
}

/* sub cabeçalho */
.container-sc{
    top: 0;
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #AE0C0D;
}

.first-column-sc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logo-ita{
    height: 80px;
    margin-left: 65px;
}

.logo-cps{
    height: 80px;
    margin-left: 15px;
}

.second-column-sc{
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: "Montserrat", sans-serif;
}

.third-column-sc{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    height: 100%;
    right: 0;
}

.logo-padrao{
    height: 110px;
}

.btn{
    border-radius: 5px;
    color: black;
    font-size: 10px;
    cursor: pointer;
    font-weight: 600;
    width: 60px;
    border: 1px solid #AE0C0D;
    background-color: transparent;
    margin-top: 5px;
    height: 30px;
    transition: background-color .3s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color: #AE0C0D;
    color: #fff;
}

    
/* Fim Sub-Cabeçalho*/
