@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    width: 100%;
    height: 40vh;
}

.containerh{
    display: flex;
    height: 30%;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dadada;
}


.first-columh{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100%;
    width: 307px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

.second-columh{
    display: flex;
    align-items: center;
}

.social-media-sp{
    display: flex;
    margin: 0 1rem;
}

.list-social-media{
    display: flex;
    list-style-type: none;
}

.link-social-media{
    margin-left: 5px;
}

.gov{
    display: flex;
    align-items: center;
}

.descricaoh{
    margin-left: 10px;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: #818181;
}

.item-social-media{
    border: 1px solid #818181;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    border-radius: 15%;
    color: #fff;
    background-color: #818181;
}

.link-social-media:hover{
    margin-right: 1px;
}